/*** Added CSS ***/

/* Text styles */
.green-text {
    color: green;
}

.red-text {
    color: red;
}

/* All Views */
#calendar-body {
    background-color: #ebf3f9;
    border: 1px solid #337ab7;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    min-height: 1250px;
}

.time-list {
    margin-top: 70px;
}

.calendar-column {
    padding: 15px;
}

.available-spots {
    font-size: 12px;
}

.event-item {
    display: inline-block;
    border: 1px solid #337ab7;
    background-color: rgba(215, 230, 244, 0.7);
    padding: 0px 10px 0px 10px;
    border-top: 1px solid black;
    width: 48%;
}

/* Week view */
#full-week-calendar .timeslot {
    position: absolute;
}

.day-name {
    background-color: #337ab7;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
}

/* Day View */
#day-calendar .calendar-column {
    background-color: #ebf3f9;
    margin: 5px;
}

#day-calendar .available-spots {
    display: inline-block;
    margin-top: -75px;
    font-size: 14px;
}

.time-block {
    height: 60px;
    padding: 10px 5px 10px 5px;
}

.activity-block {
    display: block;
    position: absolute;
    float: left;
    width: 95%;
}


/*** Yeoman Defaults ***/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
